<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Determinant</title>
    <link href="{% static 'public/icon.ico' %}" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/frontend/static/css/leaflet.css">
	<script type="text/javascript" src="/frontend/static/js/leaflet.js"></script>
	<link rel="stylesheet" type="text/css" href="/frontend/static/css/style.css">
</head>
<body>

<h1>Works place our world</h1>
<fieldset>
	<legend><b>Data</b></legend><p>
	<input type="file"></p>
	<button id="combat">Put on duty</button>
	<button id="test" class="shift_button">Test</button>
	<button id="help" class="shift_button">Help</button>
</fieldset>

<div id='map' align='center' class="payload"></div>
<div id="table" class="payload">
                   {% if countColumn > 0 %}
                    <button type="button" class="btn btn-info btn-sm" onclick="downloadCSV('#downloadCSV')">Экспорт таблицы в CSV</button>
                    <br><br>
                        <div id="scroll-table">
                            <div class="scroll-table-body">
                                 <table id="downloadCSV">
                                    <thead>
                                        <tr>
                                        {% for c in column %}
                                             <th class="capital">{{ c }}</th>
                                        {% endfor %}
                                         </tr>

                                        <tr class="filter-row">
                                            {% for c in column %}
                                                 <td>
                                                     <input type="text" class="filter size" onkeyup="filterHandler()" id="{{ c }}" />
                                                 </td>
                                            {% endfor %}
                                        </tr>

                                        {% for ext in data %}
                                        <tr class="data-row">
                                            {% for includeRes in ext %}
                                            <td class="column-{{ includeRes.1 }}">
                                                {{ includeRes.0 }}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                      </thead>
                                </table>
                            </div>
                       </div>
                       {% endif %}
                   </div>

<script type="text/javascript" src="/frontend/static/js/eu-countries.js"></script>
<script>
	var map = L.map('map');

	map.createPane('labels');

	// This pane is above markers but below popups
	map.getPane('labels').style.zIndex = 650;

	// Layers in this pane are non-interactive and do not obscure mouse/touch events
	map.getPane('labels').style.pointerEvents = 'none';

	var positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
	}).addTo(map);

	var positronLabels = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
	}).addTo(map);

	/* global euCountries */
	var geojson = L.geoJson(euCountries).addTo(map);

	geojson.eachLayer(function (layer) {
		layer.bindPopup(layer.feature.properties.name);
	});

	map.setView({lat: 47.040182144806664, lng: 9.667968750000002}, 4);

	var begin_map;
    var end_map;
	var popup = L.popup();
	var rectoptions = {color: "yellow", weight: 1};
	 function onMapClick(e) {
           popup
               .setLatLng(e.latlng)
               .setContent("Координата на карте " + e.latlng.toString())
               .openOn(map);
     }

	 function onMapClickTwo(e) {

              if(begin_map == null) {
                   begin_map = e.latlng;
                    popup.setContent("begin" + begin_map.toString());
               }
               else {
                        if(end_map == null) {
                            end_map = e.latlng;
                            popup.setContent("end" + end_map.toString());
                            latrec = L.rectangle([begin_map, end_map], rectoptions);
                            latrec.addTo(map);
                        }
                        else {
                            map.removeLayer(latrec);
                            begin_map = null;
                            end_map = null;
                        }
              }

            }

	map.on('dblclick', onMapClickTwo);
    map.on('click', onMapClick);
</script>

</body>
</html>